<% unless user == current_user %>
  <%if current_user.following?(user) %>
    <div class="mt-3 ml-5"><%= link_to "フォローを外す", unfollow_user_relationship_path(user_id: profile_id, id: user.id), method: :delete, remote: true, class: "btn btn-sm btn-danger" %></div>
  <% else %>
    <div class="mt-3 ml-5"><%= link_to "フォローする", follow_user_relationship_path(user_id: profile_id, id: user.id), method: :post, remote: true, class: "btn btn-sm btn-success" %></div>
  <% end %>
<% end %>