<div class="container">
  <div class="row">
    <%= render "sidebar" %>
    <div class="col-lg-8 md-lg-1">
      <%= render "articles", articles: @articles %>
      <% @articles.each do |article| %>
        <%= render "article_index", article: article %>
      <% end %>
    </div>
  </div>
</div>