<div class="container">
  <div class="row">
    <%= render "sidebar" %>
    <div class="col-lg-8 md-lg-1">
      <%= render "articles", articles: @articles, text: "ホーム" %>
      <% @articles.each do |article| %>
        <%= render "article_index", article: article %>
      <% end %>
      <div class="row">
        <div class="mx-auto">
          <%= paginate @articles %>
        </div>
      </div>
    </div>
  </div>
</div>