<div class="row p-2 border-left border-right border-top" style="background-color: #90ee90">
  <div class="col-lg-5">
    <%= image_tag user.get_profile_image(290,290) %>
  </div>
  <div class="col-lg-7">
    <div class="row">
      <div class="col-lg-8">
        <h3 class="ml-2 mt-2"><%= user.name %></h3>
      </div>
      <div class="col-lg-4 mt-2">
        <% if user.is_deleted == false %>
          <%= link_to "退会させる", admin_user_withdraw_path(user), method: :patch, class: "btn btn-outline-danger",data: {confirm:"本当に退会させます？"} %>
        <% else %>
          <i class="text-secondary">　退会済み</i>
        <% end %>
      </div>
    </div>
    <div class="row m-3 mt-3">
      <%= user.introduction %>
    </div>
    </div>
</div>